<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Re bios</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!-- header section starts -->
    <!-- Tampilan header saat sudah login -->
    <header class="header">
      <a href="#" class="logo">
        <img class="logo" src="/img/logo.png" alt="" />
      </a>

      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#services">services</a>
        <a href="#doctors">find a psycholog</a>
        <a href="#book">book</a>
        <a href="#blogs">blogs</a>
        <a href="#contact">contact us</a>
      </nav>

      <div style="display: flex; align-items: center">
        <p
          style="
            color: #4682a9;
            border: 1px solid #4682a9;
            padding: 1em 5em 1em 1em;
            border-radius: 50px;
            font-size: 1.1em;
          ">
          <%= nama_pendek %>
        </p>
        <div class="profile">
          <img
            src="data:image/png;base64, <%= foto_pasien %>"
            alt="Foto Profil"
            class="poto_profile" />
          <div class="profile-menu">
            <button onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/profile" style="margin: 0" class="dropdown">Profile</a>
              <a href="/pembayaran" style="margin: 0" class="dropdown"
                >Pembayaran</a
              >
              <a href="/logout" style="margin: 0" class="dropdown">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div id="menu-btn" class="fas fa-bars"></div>
    </header>
    <!-- header section ends -->

    <!-- home section starts -->
    <section class="home" id="home">
      <div class="content">
        <h2 style="font-size: 2rem; color: var(--black); text-transform: none">
          Hi <%= nama_pendek %>,
        </h2>
        <h4>Welcome To</h4>
        <h3>Virtual Healthcare For You</h3>
        <p>
          ReBios provides progressive, and affordable psycholog healthcare,
          accessible on mobile and online for everyone
        </p>
        <a href="/appointment" class="btn">
          consult today <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="image">
        <img src="/img/index.png" alt="" />
      </div>
    </section>
    <!-- home section ends -->

    <!-- icons section starts -->
    <section class="icons-container">
      <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>doctors at work</p>
      </div>

      <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>satisfied patients</p>
      </div>

      <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
      </div>

      <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80+</h3>
        <p>available hospitals</p>
      </div>
    </section>
    <!-- icons section ends -->

    <!-- services section starts -->
    <section class="services" id="services">
      <h1 class="heading">our <span>services</span></h1>

      <div class="box-container">
        <div class="box">
          <i class="fas fa-notes-medical"></i>
          <h3>free checkups</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>

        <div class="box">
          <i class="fas fa-ambulance"></i>
          <h3>24/7 ambulance</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>

        <div class="box">
          <i class="fas fa-user-md"></i>
          <h3>expert doctors</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>

        <div class="box">
          <i class="fas fa-pills"></i>
          <h3>medicines</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>

        <div class="box">
          <i class="fas fa-procedures"></i>
          <h3>bed facility</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>

        <div class="box">
          <i class="fas fa-heartbeat"></i>
          <h3>total care</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae,
            aut.
          </p>
          <a href="#" class="btn"
            >learn more <span class="fas fa-chevron-right"></span
          ></a>
        </div>
      </div>
    </section>
    <!-- services section ends -->

    <!-- about section starts -->

    <section class="about" id="about">
      <h1 class="heading"><span>about</span> us</h1>

      <div class="row">
        <div class="image">
          <img
            src="https://img.freepik.com/free-photo/smiling-asian-doctor-female-nurse-holding-clipboard-pen-wearing-uniform-with-gloves-writing-pati_1258-83340.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
        </div>

        <div class="content">
          <h3>we take of your healthy mental life</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis
            quaerat aspernatur, cumque eum numquam accusantium saepe aut ipsa
            fugiat dolore!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
            voluptatibus.
          </p>
          <a href="#" class="btn">
            learn more <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </section>
    <!-- about section ends -->

    <!-- doctors section starts -->
    <section class="doctors" id="doctors">
      <h1 class="heading">our <span>doctors</span></h1>

      <div class="box-container">
        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>mark jho</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/smiling-asian-male-doctor-pointing-upwards_1262-18321.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>mark jho</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/healthcare-workers-preventing-virus-quarantine-campaign-concept-cheerful-friendly-asian-female-physician-doctor-with-clipboard-during-daily-checkup-standing-white-background_1258-107867.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>yasmin lee</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/woman-doctor-wearing-lab-coat-with-stethoscope-isolated_1303-29791.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>yasmin lee</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/portrait-hansome-young-male-doctor-man_171337-5068.jpg?size=626&ext=jpg&ga=GA1.2.781077075.1679312414&semt=sph"
            alt="" />
          <h3>rush fark</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/professional-doctor-office_1098-21197.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>park ken</h3>
          <span>expert doctors</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- doctors section ends -->

    <!-- review section starts -->
    <section class="review" id="review">
      <h1 class="heading">client's <span>review</span></h1>
      <div class="box-container">
        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/smiling-asian-male-doctor-pointing-upwards_1262-18321.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/healthcare-workers-preventing-virus-quarantine-campaign-concept-cheerful-friendly-asian-female-physician-doctor-with-clipboard-during-daily-checkup-standing-white-background_1258-107867.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/woman-doctor-wearing-lab-coat-with-stethoscope-isolated_1303-29791.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/portrait-hansome-young-male-doctor-man_171337-5068.jpg?size=626&ext=jpg&ga=GA1.2.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>

        <div class="box">
          <img
            src="https://img.freepik.com/free-photo/professional-doctor-office_1098-21197.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>matk jho</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            nihil?
          </p>
        </div>
      </div>
    </section>
    <!-- review section ends -->

    <!-- blogs section stars -->

    <section class="blogs" id="blogs">
      <h1 class="heading">our <span>blogs</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img
              src="https://png.pngtree.com/element_our/20200609/ourlarge/pngtree-hand-drawn-psychologist-image_2232034.jpg"
              alt="" />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#"><i class="fas fa-calendar"> 1st may,2023</i></a>
              <a href="#"><i class="fas fa-user"> by admin</i></a>
            </div>
            <h3>blog title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              mollitia.
            </p>
            <a href="#" class="btn"
              >learn more <span class="fas fa-chevron-right"></span
            ></a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img
              src="https://img.freepik.com/vector-premium/asesoramiento-al-paciente-ilustracion-psicologo_179970-166.jpg"
              alt="" />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#"><i class="fas fa-calendar"> 1st may,2023</i></a>
              <a href="#"><i class="fas fa-user"> by admin</i></a>
            </div>
            <h3>blog title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              mollitia.
            </p>
            <a href="#" class="btn"
              >learn more <span class="fas fa-chevron-right"></span
            ></a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img
              src="https://img.freepik.com/vector-premium/asesoramiento-al-paciente-ilustracion-psicologo_179970-166.jpg"
              alt="" />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#"><i class="fas fa-calendar"> 1st may,2023</i></a>
              <a href="#"><i class="fas fa-user"> by admin</i></a>
            </div>
            <h3>blog title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              mollitia.
            </p>
            <a href="#" class="btn"
              >learn more <span class="fas fa-chevron-right"></span
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- blogs section ends -->

    <!-- footer section stars -->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a href="#"><i class="fas fa-chevron-right"></i>home</a>
          <a href="#"><i class="fas fa-chevron-right"></i>services</a>
          <a href="#"><i class="fas fa-chevron-right"></i>about</a>
          <a href="#"><i class="fas fa-chevron-right"></i>doctors</a>
          <a href="#"><i class="fas fa-chevron-right"></i>book</a>
          <a href="#"><i class="fas fa-chevron-right"></i>review</a>
          <a href="#"><i class="fas fa-chevron-right"></i>blogs</a>
        </div>

        <div class="box">
          <h3>our services</h3>
          <a href="#"><i class="fas fa-chevron-right"></i>dental care</a>
          <a href="#"><i class="fas fa-chevron-right"></i>message therapy</a>
          <a href="#"><i class="fas fa-chevron-right"></i>cardioloty</a>
          <a href="#"><i class="fas fa-chevron-right"></i>diagnosis</a>
          <a href="#"><i class="fas fa-chevron-right"></i>ambulance services</a>
        </div>

        <div class="box">
          <h3>contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>+777-9087-675</a>
          <a href="#"><i class="fas fa-phone"></i>+777-6453-342</a>
          <a href="#"><i class="fas fa-envelope"></i>markjhon@gmail.com</a>
          <a href="#"><i class="fas fa-envelope"></i>xander@gmail.com</a>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i> jakarta, Indonesia - 24567</a
          >
        </div>

        <div class="box">
          <h3>follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
        </div>
      </div>

      <div class="credit">
        created by <span>team-oman</span> | all rights reserved
      </div>
    </section>
    <!-- footer section ends -->

    <!-- custom js file link -->

    <script src="script/script.js"></script>
  </body>
</html>
