<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Pembayaran</h1>
<label>Gambar Psikolog: <img src="data:image/png;base64,<%= gambar_psikolog.toString('base64') %>" /></label><br />
<label>Nama Psikolog: <%= nama_psikolog %></label><br />
<label>Spesialisasi: <%= spesialisasi %></label><br />

<form action="/proses_pembayaran" method="post">
      <!-- Menampilkan id_pasien, nama_pasien, dan email_pasien dari sesi -->
      <label style="display: none"
        >ID :<input name="id_pasien" value="<%= id_pasien %>" readonly /></label
      <label>Nama :
        <input name="nama_pasien" value="<%= nama_pasien %>" readonly /></label>
      <label style="display: none"
        >Email :
        <input
          name="email_pasien"
          value="<%= email_pasien %>"
          readonly /></label
      ><br />

      <label for="jumlah_biaya">Jumlah Biaya:</label><br>
      <label for="biaya_sesi">Biaya Sesi:</label>
<input type="number" name="biaya_sesi" value="70000" readonly /><br />

<label for="biaya_layanan">Biaya Layanan:</label>
<input type="number" name="biaya_layanan" value="10000" readonly /><br />

<label for="jumlah_biaya">Total Biaya:</label>
<input type="number" name="jumlah_biaya" value="80000" readonly /><br />

      <label>Metode Pembayaran:</label><br />
<input type="radio" name="metode_pembayaran" value="gopay" id="gopay" required />
<label for="gopay">Gopay</label><br />

<input type="radio" name="metode_pembayaran" value="dana" id="dana" />
<label for="dana">Dana</label><br />

<input type="radio" name="metode_pembayaran" value="bri" id="bri" />
<label for="bri">BRI</label><br />

      <button type="submit">Bayar</button>
    </form>
  </body>
</html>
